.Login_Registration{
    display: flex;
    flex-direction: column;
    position: absolute;
    top:30%;
    width: 100%;
    align-items: center;
}

.Login {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.display-deactive{
    display: none;
}

.Login_buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}