main {
    background-color: #E7E9EB;
}

.Profile {
    display: flex;
    justify-content: space-between;
}

.Product {
    width: 280px;
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Product_Image {
    object-fit: contain;
    width: -webkit-fill-available;
    height: 167px;
}

.Product_button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.Profiledata {
    width: 50%;
}

.Profiledata>div>div {
    display: flex;
    justify-content: space-between;

}